body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgba(0,0,0,0.5);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 50px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
}

.cert-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cert-container img {
    width: 250px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.3s;
}

.cert-container img:hover {
    transform: scale(1.1);
}
